<mat-sidenav-container style="height: calc(100vh - 20px)"
 [ngClass]="colorClass">


</mat-sidenav-container>

<!-- <div class="basic-container">
  <div class="vertical-center">
  <mat-slide-toggle *ngIf="!showProgress"(change)="onClick()" 
   color="primary" [(ngModel)]="isChecked"> 
  </mat-slide-toggle>
	<mat-spinner *ngIf="showProgress" color="primary"></mat-spinner>
  <span class="progress-text">{{showText}}</span>
</div>
</div> -->



<!-- <div class="toggle">
	<input class="toggle-input" type="checkbox" />
	<button class="toggle-btn {{className}}" [ngClass]="{'toggle-btn-on': on, 'toggle-btn-off': !on}" [attr.aria-expanded]="on" ></button>

</div> -->

